In [2]:
import pandas as pd
Location = "C:/Users/Admin/Desktop/datasets/axisdata.csv"
df = pd.read_csv(Location)
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [ ]:
#1.Max cars sold per month

In [31]:
df["Cars Sold"].mean()

3.9229229229229228

In [ ]:
#2. Max cars sold per month

In [30]:
df["Cars Sold"].max()

7

In [ ]:
#3. Mins cars sold per month

In [29]:
df["Cars Sold"].min()

1

In [ ]:
#4.Average cars sold per month by gender.

In [27]:
df4=df[(df['Gender']=="F,M")]

In [28]:
 df["Cars Sold"].mean()

3.9229229229229228

In [ ]:
#5. Average hour worked by people selling more than three cars per month.

In [8]:
df1 =df[(df['Cars Sold'] >3)]

In [9]:
df1["Hours Worked"].mean()

34.740237691001695

In [ ]:
#6.Average years of experience

In [17]:
 df["Years Experience"].mean()

3.026026026026026

In [ ]:
#7. Average years of experience for people selling more than three cars per month.

In [22]:
df3 =df[(df['Cars Sold'] >3)]

In [23]:
df3["Years Experience"].mean()

3.0492359932088284

In [ ]:
#8. Average cars sold per month sorted by whether they have had sales training.

In [12]:
df2 =df[(df['SalesTraining']=="Y" )]

In [13]:
df2["Cars Sold"].mean()

4.1689419795221845

In [ ]:
#9. What do you think is the best indicator of whether someone is a good salesperson?

In [ ]:
# The best indicator would be the number seven. Number seven display the average years of experience for people selling more than three cars per month.